* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header {
  width: 100%;
  line-height: 100px;
  background-color: #f4b400;
  display: flex;
  justify-self: start;
  align-items: center;
  padding-left: 50px;
  color: black;
  box-shadow: 5px 3px 15px -5px rgba(0, 0, 0, 0.5);
}
.main_note {
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
}
.my_notes h1 {
  color: bule;
}
.my_notes p {
  color: grey;
}
form {
  min-height: 50px;
  color: #ecf0f1;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
}
#gsearch {
  min-height: 50px;
  color: black;
  padding: 15px 10px 5px 10px;
  box-shadow: 3px 5px 15px -5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
}
input {
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0px;
  font-weight: bold;
}
textarea {
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  margin: 10px 0px;
}

.MuiButton-root {
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: -20px;
  left: 400px;

  cursor: pointer;
  background-color: #fff !important;
  box-shadow: 3px 5px 15px -5px rgba(0, 0, 0, 0.5);
  border-radius: 50% !important;
}

.MuiButton-root .plus_sign {
  font-size: 45px !important;
  font-weight: 900;
  color: #f4b400;
  cursor: pointer;
  z-index: 220;

  background: transparent;
}

.MuiButton-root:hover {
  background-color: #f4b400 !important;
}
.MuiButton-root:hover .plus_sign {
  color: #fff;
  background: transparent;
}
.userImage {
  height: 150px;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 250px;
  margin: 16px;
  float: left;
  text-transform: capitalize;
  background-color: rgba(202, 187, 187, 0.13);
}
.note h1 {
  font-size: 1.1rem;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1rem;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note .btn {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f4b400;
  border: none;
  width: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 5px 15px -10px rgba(0, 0, 0, 0.5);
  border-radius: 40%;
}
.btnEdit {
  position: relative;
  float: right;
  margin-right: 10px;
  color: rgb(59, 153, 59);
  border: none;
  width: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 5px 15px -10px rgba(0, 0, 0, 0.5);
  border-radius: 40%;
}
.deleteIcon {
  width: 0.7rem;
  height: 0.7rem;
}
.note .btn:hover {
  background-color: #f55b13;
}
.note .btn:hover .deleteIcon {
  color: #fff;
}
.note .btnEdit:hover {
  background-color: rgb(59, 153, 59);
}
.note .btnEdit:hover .editIcon {
  color: #fff;
}

.footer {
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin-left: 45%;
}
